<div class="container" *ngIf="user.group == true">
    <div class="row justify-content-center">
        <div class="col-md-4 col-md-offset-4">
            <h2 class="py-3">Create a new channel</h2>
            <form id="loginform">
            <div class="form-group">
                <label for="name">Channel Name: </label>
                <input type="name" class="form-control" [(ngModel)]="name" name="name" id="name" placeholder="Enter group name">
            </div>
            <button type="submit" class="btn btn-success" (click)="channelSubmit()">Create</button>
            </form>
        </div>
    </div>
</div>
    
    