<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="https://img.icons8.com/clouds/100/000000/chat.png" width="30" height="30" class="d-inline-block align-top" alt="">3813ICT Assignment</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" href="#" *ngIf="valid">Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/" href="#" *ngIf="valid">Groups</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/login" href="#" *ngIf="!valid; else elseBlock">Login</a>
        </li>
        <ng-template #elseBlock>
          <li class="nav-item">
            <a class="nav-link" (click)="onClickLogout()" routerLink="/login" href="#">Logout</a>
          </li>
        </ng-template>
        
      </ul>
    </div>
  </nav>

<router-outlet></router-outlet>
