<div class ="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-4"  *ngIf="!new; else elseBlock">
            <h1 class="text-center py-3 px-lg-5">User List</h1>
            <button type="button" class="btn btn-success my-3" (click)="onClickUser()" >Create new user</button>
            <ul class="list-group btn-group" *ngFor="let user of users">
                <li class="list-group-item d-flex justify-content-between" *ngIf="user.username == currName">
                    <p class="p-0 m-0 flex-grow-1">{{user.username}} (You)</p>
                </li>
                <li class="list-group-item d-flex justify-content-between" *ngIf="user.username != currName">
                    <p class="p-0 m-0 flex-grow-1">{{user.username}}</p>
                    <div class="btn-group">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add user to group
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngFor="let group of groups">
                                <a class="dropdown-item" (click)="addGroup(group, user.username)">{{group.name}}</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-danger btn-sm" (click)="userDelete(user.username)">Delete</button>
                    </div>
                    
                </li>
            </ul>
        </div>

        <ng-template #elseBlock>
            <div class="col-md-8 col-md-offset-4">
                <h1 class="text-center py-3 px-lg-5">Create New User</h1>
                <form id="loginform">
                    <div class="form-group">
                        <input type="username" class="form-control" [(ngModel)]="username" name="username" id="username" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" [(ngModel)]="email" name="email" id="email" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <input type="password" name="upwd" [(ngModel)]="upwd" class="form-control" id="upwd" placeholder="Password">
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            Your password must be at least 6 characters long.
                        </small>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="super" [ngModelOptions]="{standalone: true}" id="roleCheck">
                        <label class="form-check-label" for="roleCheck">
                            Super Admin
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" [(ngModel)]="group" [ngModelOptions]="{standalone: true}" id="roleCheck">
                        <label class="form-check-label" for="roleCheck">
                            Group Admin
                        </label>
                    </div>
                    <div class="btn-group float-right">
                        <button type="submit" class="btn btn-secondary my-3" (click)="onClickCancel()">Cancel</button>
                        <button type="submit" class="btn btn-success my-3" (click)="userCreate()">Create</button>
                    </div>
                </form>
            </div>
        </ng-template>
    </div>
</div>
