<div class ="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-md-offset-4" *ngIf="!editmode; else elseBlock">
            <h2 class="text-center py-3 px-lg-5">Profile Details</h2>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Username</th>
                        <td>{{username}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>{{email}}</td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="btn btn-primary" (click)="onClickEdit()">
                Edit
            </button>
        </div>
        
        <ng-template #elseBlock>
            <form id="loginform">
                <h2 class="text-center py-3 px-lg-5">Edit Details</h2>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="username" class="form-control" [(ngModel)]="username" name="username" id="username" placeholder={{username}}>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" [(ngModel)]="email" name="email" id="email" placeholder={{email}}>
                </div>
                <button type="submit" class="btn btn-secondary" (click)="onClickCancel()">Cancel</button>
                <button type="submit" class="btn btn-primary" (click)="saveChanges()">Save</button>
            </form>
        </ng-template>
    </div>
</div>
    