<div class ="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-4"  *ngIf="!new; else elseBlock">
            <h1 class="text-center py-3 px-lg-5">Settings for {{groupName}}</h1>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add user to {{groupName}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngFor="let usr of this.notInGroup">
                    <a class="dropdown-item" href="#">{{usr.username}}</a>
                </div>
            </div>
            
        </div>
    </div>
</div>