<div class ="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-4"  *ngIf="!new; else elseBlock">
            <h1 class="text-center py-3 px-lg-5">Settings for {{groupName}}</h1>

            <h4 class="pt-3">Group Admins</h4>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between" *ngFor="let usr of this.admins">
                    <p class="p-0 m-0 flex-grow-1">{{usr.username}}</p>
                    <div class="dropdown">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger btn-sm" (click)="onRemove(usr)" *ngIf="usr.super">
                                Remove
                            </button>
                            <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add User to channel
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                                <a class="dropdown-item" (click)="onAddChannel(usr, channel)" *ngFor="let channel of this.channels">{{channel}}</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <h4 class="pt-3">Group Assis</h4>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between" *ngFor="let usr of this.assis">
                    <p class="p-0 m-0 flex-grow-1">{{usr.username}}</p>
                    <div class="dropdown">
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger btn-sm" (click)="onRemove(usr)">
                                Remove
                            </button>
                            <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add User to channel
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                                <a class="dropdown-item" (click)="onAddChannel(usr, channel)" *ngFor="let channel of this.channels">{{channel}}</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <h4 class="pt-3">Users in {{groupName}}</h4>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between" *ngFor="let usr of this.inGroup">
                    <p class="p-0 m-0 flex-grow-1">{{usr.username}}</p>
                    <div class="dropdown">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-sm" (click)="onAssis(usr)">
                                Make Assis
                            </button>
                            <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add User to channel
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
                                <a class="dropdown-item" (click)="onAddChannel(usr, channel)" *ngFor="let channel of this.channels">{{channel}}</a>
                            </div>
                            <button type="button" class="btn btn-danger btn-sm" (click)="onRemove(usr)">
                                Remove
                            </button>
                        </div>
                    </div>
                </li>
            </ul>

            <h4 class="pt-3">Users not in {{groupName}}</h4>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between" *ngFor="let usr of this.notInGroup">
                    <p class="p-0 m-0 flex-grow-1">{{usr.username}}</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-success btn-sm" (click)="onAdd(usr)">Add to group</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>